body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #065f46;
  color: white;
}

main {
  min-height: 100vh;
  padding: 60px;
}

h1 {
  font-size: 56px;
  font-weight: bold;
}

p {
  font-size: 22px;
  line-height: 1.6;
}

